Author: <a href = "https://github.com/Sumanth2905">Sumanth K</a>
<br>ID: GO_STP_11068

<b>Assignment/Task 8
Predicting a Startups Profit/Success Rate using Multiple Linear Regression in Python</b>

Sample Dataset- you can download a csv file of dataset  <a href='https://drive.google.com/file/d/1swu61s27pXByZX5tSm4yMZ9ZMENUTASG/view?usp=sharing'> this link </a>
​​​​​

In [1]:
#importing modules
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
#load data-set
df = pd.read_csv('50_Startups.csv')

In [3]:
#dataset
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
df.shape

(50, 5)

In [5]:
df.info()  #dataset info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [6]:
df.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [7]:
df.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [8]:
df.isnull().sum() #checking for missing values

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [9]:
df.State.value_counts(normalize=True)

California    0.34
New York      0.34
Florida       0.32
Name: State, dtype: float64

In [10]:
df.State.value_counts(normalize=False)

California    17
New York      17
Florida       16
Name: State, dtype: int64

In [11]:
df.corr()

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.241955         0.724248  0.972900
Administration    0.241955        1.000000        -0.032154  0.200717
Marketing Spend   0.724248       -0.032154         1.000000  0.747766
Profit            0.972900        0.200717         0.747766  1.000000

In [12]:
X=df.drop(['Profit','State'],axis=1)
Y=df['Profit']
X.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [13]:
Y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
X_train,X_test,Y_train,Y_test= train_test_split(X,Y, test_size=0.20, random_state=3)
lm=LinearRegression()
lm.fit(X_train,Y_train)
LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)
Y_predict= lm.predict(X_test)

In [15]:
#mse of the model
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(Y_test,Y_predict)
mse

93171915.49920285

In [16]:
#r2 score of the model
from sklearn.metrics import r2_score
print("accuracy is: ", r2_score(Y_test,Y_predict))

accuracy is:  0.946980087531592